# nodejs modules
node_modules/
/package-lock.json
# npm run watch cache
/_agent.js
# pyenv version
/.python-version
# python cache
**/__pycache__/
# api document docs
docs/
# direnv config
/.envrc
# temp log(if exists)
*.log
# Previous projects script
projects/**
!projects/ProjTemplate.ts
scripts/frida-server-*
# test script
/test.js
