[submodule "tools/r0capture"]
	path = tools/r0capture
	url = https://gitee.com/forgo7ten-mirrors/r0capture
[submodule "tools/OkHttpLogger-Frida"]
	path = tools/OkHttpLogger-Frida
	url = https://gitee.com/forgo7ten-mirrors/OkHttpLogger-Frida
[submodule "tools/frida_hook_libart"]
	path = tools/frida_hook_libart
	url = https://gitee.com/forgo7ten-mirrors/frida_hook_libart
[submodule "tools/frida_dump"]
	path = tools/frida_dump
	url = https://gitee.com/forgo7ten-mirrors/frida_dump
