# nodejs modules
node_modules/
/package-lock.json
# npm run watch cache
/_agent.js
# pyenv version
/.python-version
# api document docs
docs/
# temp log(if exists)
*.log
# direnv config
/.envrc
# Previous projects script
projects/**
!projects/ProjTemplate.ts
# test script
/test.js
